.login-wrap {
    border: 1px solid #eeeeee;
    .signin-btn {
        max-width: 200px;
        float: right;
    }
    .registration-link {
        text-align: left;
        padding-top: 10px;
    }
}