.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### UI App ###
src/ui/node_modules
src/ui/dist
src/ui/.angular/
src/ui/.vscode/
src/ui/.sass-cache/
src/ui/connect.lock
src/ui/coverage/*
src/ui/libpeerconnection.log
src/ui/testem.log
src/ui/typings
src/ui/tmp
src/ui/out-tsc
src/ui/bazel-out