.registration-wrap {
    a:hover, a:active, a:visited {
        color: #01d28e;
        text-decoration: underline;
    }
    .sign-up-btn {
        max-width: 200px;
        float: right;
    }
    .registration-link {
        text-align: left;
        padding-top: 10px;
    }
}